## Questão 2
Dado a sequência de Fibonacci, onde se inicia por 0 e 1 e o próximo valor sempre será a soma dos 2 valores anteriores (exemplo: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34...), escreva um programa na linguagem que desejar onde, informado um número, ele calcule a sequência de Fibonacci e retorne uma mensagem avisando se o número informado pertence ou não a sequência.

IMPORTANTE:
Esse número pode ser informado através de qualquer entrada de sua preferência ou pode ser previamente definido no código;

In [6]:
class ChecaFibonacci:
    def __init__(self):
        self.fib_seq = [0, 1]## lista da sequencia

    def gera_sequencia_fibonacci(self, n):
        while self.fib_seq[-1] < n:## enquanto o último número da seq de Fibo for menor que o valor entrado para o teste, calculamos  a seq de Fibo
            prox_valor = self.fib_seq[-1] + self.fib_seq[-2]##calcula o proximo numero da sequencia recursivamente 
            if prox_valor > n:### se o proximo valor passar de n para a execução e guarda na lista da sequencia
                break
            self.fib_seq.append(prox_valor)

    def checa_se_pertence_a_fibonacci(self, num):
        self.gera_sequencia_fibonacci(num)
        if num in self.fib_seq:
            return f"O número {num} pertence a sequencia de Fibonacci."
        else:
            return f"O número {num} não pertence a sequencia de Fibonacci."


# Cria uma instancia de CalculaFibonacci
checa_fib = ChecaFibonacci()

# Entra com um número para testar
num = int(input("Digite um número para verificar se ele pertence à sequência de Fibonacci: "))

# Verifica se o número pertence à sequência de Fibonacci
resposta = checa_fib.checa_se_pertence_a_fibonacci(num)
print(resposta)

Digite um número para verificar se ele pertence à sequência de Fibonacci:  34

O número 34 pertence a sequencia de Fibonacci.

## Questão 3
Dado um vetor que guarda o valor de faturamento diário de uma distribuidora, faça um programa, na linguagem que desejar, que calcule e retorne:
• O menor valor de faturamento ocorrido em um dia do mês;
• O maior valor de faturamento ocorrido em um dia do mês;
• Número de dias no mês em que o valor de faturamento diário foi superior à média mensal.

In [61]:
import pandas as pd

In [62]:
##Gerando um dataFrame através da leitura do arquivo dados.json
df_json = pd.read_json('dados.json')
df_json

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
3     4      0.0000
4     5      0.0000
5     6  26742.6612
6     7      0.0000
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
10   11      0.0000
11   12      0.0000
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
17   18      0.0000
18   19      0.0000
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
24   25      0.0000
25   26      0.0000
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [94]:
#Verificando apenas os dados não nulos da coluna valor
df_json_semzero = df_json[df_json['valor'] != 0.0]
df_json_semzero.shape[0]##Conferindo p/ ver se tirou os 9 dados com 0 em valor
df_json_semzero

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [93]:
df_dia_Indice = df_json_semzero.set_index("dia") #Selecionando dia como indice  
df_dia_Indice

          valor
dia
1    22174.1664
2    24537.6698
3    26139.6134
6    26742.6612
8    42889.2258
9    46251.1740
10   11191.4722
13    3847.4823
14     373.7838
15    2659.7563
16   48924.2448
17   18419.2614
20   35240.1826
21   43829.1667
22   18235.6852
23    4355.0662
24   13327.1025
27   25681.8318
28    1718.1221
29   13220.4950
30    8414.6100

In [65]:
##Calculando a média dos valores
df_media = df_json_semzero['valor'].mean()
print(f" A média dos valores é {df_media}")

 A média dos valores é 20865.370166666664

In [102]:
##Programa que calcula o menor, maior e o dia onde o faturamento foi maior que a média mensal
import pandas as pd
class ValorMensal:
    def __init__(self, caminho, tipo_de_arquivo):
        self.__caminho = caminho
        self.__tipo = tipo_de_arquivo
        self.df = 0
        self.df_sz = 0
        self.valor_min = 0
        self.valor_max = 0
        self.valor_med = 0
        self.dias_maior_med = 0
    
    def get_caminho(self):
        return self.__caminho
    
    def get_tipo(self):
        return self.__tipo
    
    def constroi_df(self):
        if self.get_tipo() == "json":
            #print(self.get_caminho())
            self.df = pd.read_json(self.get_caminho())
        elif self.get_tipo() == "xml":
            self.df = pd.read_xml(self.get_caminho())
    
    def ler_df(self):
        self.df = self.df.set_index("dia") # remove o indice da visualização
        return self.df
    
    def limpa_zeros(self):
        return self.df[self.df['valor'] != 0.0]  # filtra só os dias onde não possui valor 0.0

    
    def menor_dia(self):## aqui considerei que o menor dia de faturamento exclui dias que tiveram faturamento 0.0
        self.df_sz = self.limpa_zeros()
        self.valor_min = self.df_sz['valor'].min()
        ##cria uma nova linha DataFrame filtrando self.df_sz para linhas onde a coluna 'valor' é igual a self.valor_min. O .iloc[0] é usada para selecionar a primeira linha que satisfaça a condição, supondo que haja apenas uma linha com o valor mínimo.
        dia = self.df_sz[self.df_sz['valor'] == self.valor_min].iloc[0]  
        print(f"O dia que teve menor faturamento foi {int(dia['dia'])} com valor de R$ {self.valor_min}")
    
    def maior_dia(self):
        self.df_sz = self.limpa_zeros()
        self.valor_max = self.df_sz['valor'].max()
        ## a mesma coisa do método acima
        dia = self.df_sz[self.df_sz['valor'] == self.valor_max].iloc[0]  
        print(f"O dia que teve maior faturamento foi {int(dia['dia'])} com valor de R$ {self.valor_max}")
    
    def media_dia(self):
        self.df_sz = self.limpa_zeros()
        self.valor_med = self.df_sz['valor'].mean()
        return self.valor_med
    def num_dias(self):
        for ele in self.df_sz['valor']:
            if ele > self.media_dia():
                self.dias_maior_med += 1
        print(f"Houveram {int(self.dias_maior_med)} dias que tiveram um faturamento diário maior que a média mensal que é de R$ {self.media_dia()}")

In [103]:
##Criando instancia de ValorMensal
valor_mensal = ValorMensal("dados.json", "json")
##Testando se consegue extrair atributos privados
print(valor_mensal.get_caminho())
print(valor_mensal.get_tipo())
##Construindo o dataframe
valor_mensal.constroi_df()
## O menor valor de faturamento ocorrido em um dia do mês
valor_mensal.menor_dia()
## O maior valor de faturamento ocorrido em um dia do mês
valor_mensal.maior_dia()
## Número de dias no mês em que o valor de faturamento diário foi superior à média mensal.
valor_mensal.num_dias()

dados.json
json
O dia que teve menor faturamento foi 14 com valor de R$ 373.7838
O dia que teve maior faturamento foi 16 com valor de R$ 48924.2448
Houveram 10 dias que tiveram um faturamento diário maior que a média mensal que é de R$ 20865.370166666664

In [95]:
#Agora fazemos o mesmo para o arquivo xml
df_xml = pd.read_xml('dados2.xml')
df_xml

XMLSyntaxError: Extra content at the end of the document, line 5, column 1 (<string>, line 5)

In [ ]:
## Aparentemente o arquivo .xml está incompleto
#Vamos corrigir ele antes de usar

In [96]:
#Vamos ler o arquivo primeiro
with open("dados2.xml", "r") as file:
    xml_data = file.read()

print(xml_data)

<row>
  <dia>1</dia>
  <valor>31490.7866</valor>
</row>
<row>
  <dia>2</dia>
  <valor>37277.9400</valor>
</row>
<row>
  <dia>3</dia>
  <valor>37708.4303</valor>
</row>
<row>
  <dia>4</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>5</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>6</dia>
  <valor>17934.2269</valor>
</row>
<row>
  <dia>7</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>8</dia>
  <valor>6965.1262</valor>
</row>
<row>
  <dia>9</dia>
  <valor>24390.9374</valor>
</row>
<row>
  <dia>10</dia>
  <valor>14279.6481</valor>
</row>
<row>
  <dia>11</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>12</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>13</dia>
  <valor>39807.6622</valor>
</row>
<row>
  <dia>14</dia>
  <valor>27261.6304</valor>
</row>
<row>
  <dia>15</dia>
  <valor>39775.6434</valor>
</row>
<row>
  <dia>16</dia>
  <valor>29797.6232</valor>
</row>
<row>
  <dia>17</dia>
  <valor>17216.5017</valor>
</row>
<row>
  <dia>18</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>19</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>20</dia>
  <valor>12974.2000</valor>
</row>
<row>
  <dia>21</dia>
  <valor>28490.9861</valor>
</row>
<row>
  <dia>22</dia>
  <valor>8748.0937</valor>
</row>
<row>
  <dia>23</dia>
  <valor>8889.0023</valor>
</row>
<row>
  <dia>24</dia>
  <valor>17767.5583</valor>
</row>
<row>
  <dia>25</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>26</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>27</dia>
  <valor>3071.3283</valor>
</row>
<row>
  <dia>28</dia>
  <valor>48275.2994</valor>
</row>
<row>
  <dia>29</dia>
  <valor>10299.6761</valor>
</row>
<row>
  <dia>30</dia>
  <valor>39874.1073</valor>
</row>

In [ ]:
#Pesquisando vemos que é necessário colocar o conteúdo do arquivo entre <root> ... <\root>
#vamos fazer isso

In [97]:
#Adicionando um root na string xml_data
with open("dados2.xml", "r") as file:
    xml_data = "<root>\n" +  file.read() + "\n" +  "</root>\n"

print(xml_data)

<root>
<row>
  <dia>1</dia>
  <valor>31490.7866</valor>
</row>
<row>
  <dia>2</dia>
  <valor>37277.9400</valor>
</row>
<row>
  <dia>3</dia>
  <valor>37708.4303</valor>
</row>
<row>
  <dia>4</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>5</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>6</dia>
  <valor>17934.2269</valor>
</row>
<row>
  <dia>7</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>8</dia>
  <valor>6965.1262</valor>
</row>
<row>
  <dia>9</dia>
  <valor>24390.9374</valor>
</row>
<row>
  <dia>10</dia>
  <valor>14279.6481</valor>
</row>
<row>
  <dia>11</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>12</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>13</dia>
  <valor>39807.6622</valor>
</row>
<row>
  <dia>14</dia>
  <valor>27261.6304</valor>
</row>
<row>
  <dia>15</dia>
  <valor>39775.6434</valor>
</row>
<row>
  <dia>16</dia>
  <valor>29797.6232</valor>
</row>
<row>
  <dia>17</dia>
  <valor>17216.5017</valor>
</row>
<row>
  <dia>18</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>19</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>20</dia>
  <valor>12974.2000</valor>
</row>
<row>
  <dia>21</dia>
  <valor>28490.9861</valor>
</row>
<row>
  <dia>22</dia>
  <valor>8748.0937</valor>
</row>
<row>
  <dia>23</dia>
  <valor>8889.0023</valor>
</row>
<row>
  <dia>24</dia>
  <valor>17767.5583</valor>
</row>
<row>
  <dia>25</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>26</dia>
  <valor>0.0000</valor>
</row>
<row>
  <dia>27</dia>
  <valor>3071.3283</valor>
</row>
<row>
  <dia>28</dia>
  <valor>48275.2994</valor>
</row>
<row>
  <dia>29</dia>
  <valor>10299.6761</valor>
</row>
<row>
  <dia>30</dia>
  <valor>39874.1073</valor>
</row>

</root>

In [98]:
##Exportando para o arquivo
with open("dados2.xml", "r") as file:
    xml_data = "<root>\n" + file.read() + "\n" + "</root>\n"

with open("dados2.xml", "w") as file:
    file.write(xml_data)

In [99]:
## Agora tentando ler o xml com pd.read novamente
df_xml = pd.read_xml('dados2.xml')
df_xml

    dia       valor
0     1  31490.7866
1     2  37277.9400
2     3  37708.4303
3     4      0.0000
4     5      0.0000
5     6  17934.2269
6     7      0.0000
7     8   6965.1262
8     9  24390.9374
9    10  14279.6481
10   11      0.0000
11   12      0.0000
12   13  39807.6622
13   14  27261.6304
14   15  39775.6434
15   16  29797.6232
16   17  17216.5017
17   18      0.0000
18   19      0.0000
19   20  12974.2000
20   21  28490.9861
21   22   8748.0937
22   23   8889.0023
23   24  17767.5583
24   25      0.0000
25   26      0.0000
26   27   3071.3283
27   28  48275.2994
28   29  10299.6761
29   30  39874.1073

In [104]:
##Agora utilizamos a classe que criamos anteriormente
##Criando instancia de ValorMensal
valor_mensal = ValorMensal("dados2.xml", "xml")
##Testando se consegue extrair atributos privados
print(valor_mensal.get_caminho())
print(valor_mensal.get_tipo())
##Construindo o dataframe
valor_mensal.constroi_df()
## O menor valor de faturamento ocorrido em um dia do mês
valor_mensal.menor_dia()
## O maior valor de faturamento ocorrido em um dia do mês
valor_mensal.maior_dia()
## Número de dias no mês em que o valor de faturamento diário foi superior à média mensal.
valor_mensal.num_dias()

dados2.xml
xml
O dia que teve menor faturamento foi 27 com valor de R$ 3071.3283
O dia que teve maior faturamento foi 28 com valor de R$ 48275.2994
Houveram 11 dias que tiveram um faturamento diário maior que a média mensal que é de R$ 23918.876566666666

## Questão 4

Dado o valor de faturamento mensal de uma distribuidora, detalhado por estado:

SP – R$ 67.836,43
RJ – R$ 36.678,66
MG – R$ 29.229,88
ES – R$ 27.165,48
Outros – R$ 19.849,53

Escreva um programa na linguagem que desejar onde calcule o percentual de representação que cada estado teve dentro do valor total mensal da distribuidora.

In [105]:
# Colocamos os valores de faturamento mensal por estado num dicionário
valores_faturamento = {
    'SP': 67836.43,
    'RJ': 36678.66,
    'MG': 29229.88,
    'ES': 27165.48,
    'Outros': 19849.53
}

# Calculando o valor  mensal total
valor_total = sum(valores_faturamento.values())

# Calculando o percentual de representação para cada estado
percentual_de_repre = {}
for estado, valor in valores_faturamento.items():
    percentual = (valor / valor_total) * 100
    percentual_de_repre[estado] = percentual

# Resultados
print("Porcentagem de Representação por Estado:")
for estado, percentual in percentual_de_repre.items():
    print(f"{estado}: {percentual:.2f}%")

Porcentagem de Representação por Estado:
SP: 37.53%
RJ: 20.29%
MG: 16.17%
ES: 15.03%
Outros: 10.98%

## Questão 5

Escreva um programa que inverta os caracteres de um string.

IMPORTANTE:
a) Essa string pode ser informada através de qualquer entrada de sua preferência ou pode ser previamente definida no código;
b) Evite usar funções prontas, como, por exemplo, reverse;

In [106]:
class inverte_string:
    def __init__(self, string_entrada):
        self.string = string_entrada
        self.lista_string = []
        self.string_final = ""
    def coloca_numa_lista(self):    
        for ele in self.string: ## joga os elementos da string de entrada numa lista
            self.lista_string.append(ele)
        #print(self.lista_string)
    def criar_string_invertida(self):
        self.coloca_numa_lista()
        for ele in self.lista_string[::-1]: ## itera nessa lista de tras para frente
            self.string_final += ele ##concatena os elementos 
        return self.string_final
objeto_resposta = inverte_string(input("Entre com uma string"))
objeto_resposta.criar_string_invertida()

Entre com uma string Fazendo um teste aqui!

'!iuqa etset mu odnezaF'